/* index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h1 a{
 color:#fff;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    margin-top: 3vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #333;
    padding-right: 10vw;
    padding-left: 10vw;
}

section h2 {
    color: #333;
    padding-right: 10vw;
    padding-left: 12vw;
}
article h3 {
    padding-right: 10vw;
    padding-left: 12vw;
}
#readMore{
    padding-right: 10vw;
    padding-left: 12vw;
}

article p {
    color: #333;
    line-height: 1.5;
    padding-right: 10vw;
    padding-left: 10vw;
}

section p {
    color: #333;
    line-height: 1.5;
    padding-right: 10vw;
    padding-left: 12vw;
}

footer {
    
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 10vh;
    padding-top: 8vh;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    
}
