/* index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.a2a_kit.a2a_center {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Optional: Adds some margin around the share buttons */
  }
  
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h1 a{
 color:#fff;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    margin-top: 3vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #333;
    padding-right: 10vw;
    padding-left: 10vw;
}

section h2 {
    color: #333;
    padding-right: 10vw;
    padding-left: 12vw;
}
article h3 {
    padding-right: 10vw;
    padding-left: 12vw;
}
#readMore{
    padding-right: 10vw;
    padding-left: 12vw;
}
article img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-right: 10vw;
    padding-left: 20vw;
    width: 50vw;
    height: 50vh;
}

article p {
    color: #333;
    line-height: 1.5;
    padding-right: 10vw;
    padding-left: 10vw;
    text-align: center;
}

section p {
    color: #333;
    line-height: 1.5;
    padding-right: 10vw;
    padding-left: 12vw;
}

footer {
    
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 10vh;
    padding-top: 8vh;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    
}

/* Media Queries for Tablet and Mobile Devices */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    nav ul li {
        display: block; /* Change to block display for easier tapping on smaller screens */
        margin-right: 0;
        margin-bottom: 10px; /* Add margin between list items */
    }

    article h2 {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    article h3 {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    article img {
        width: 90%; /* Adjusted width for smaller screens */
        padding-left: 5vw;
    }

    article p {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    footer {
        padding: 10px; /* Adjusted padding for smaller screens */
    }
}

